* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  //border: solid 1px red;
}
body {
  position: absolute;
}
.heart {
  position: fixed;
  width: 100px;
  height: 100px;
  margin: 35%;
  animation-name: go;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.h1 {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  background-color: #e69966;
}
.h2 {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0px;
  left: 40px;
  border-radius: 50%;
  background-color: #d2b48c;
}
.h3 {
  height: 49px;
  width: 49px;
  position: absolute;
  top: 21px;
  left: 21px;
  transform: rotate(45deg);
  background-color: #d2b48c;
}
.heart {
  position: fixed;
  width: 100px;
  height: 100px;
  margin: 35%;
  transition: all 3s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}
.heart:hover {
  transform: rotate(760deg);
  margin-top: 0px;
}
@keyframes go {
  0% {
    left: 100px;
  }
  100% {
    left: 300px;
  }
}

@keyframes go {
  0% {
    left: 100%;
  }

  50% {
    transform: scale(2.25) rotate(-350deg);
  }
}
